:root[data-glpi-theme="siethelpdesk"] {
  --tblr-primary-rgb: 11, 61, 11;
  --tblr-secondary: #4E9B5C;
  --tblr-secondary-fg: #ffffff;
  --tblr-link-color-rgb: 78, 155, 92;

  --glpi-mainmenu-bg: #0B3D0B;
  --glpi-mainmenu-fg: #F5D800;

  --glpi-palette-color-1: #0B3D0B;
  --glpi-palette-color-2: #4E9B5C;
  --glpi-palette-color-3: #F5D800;
  --glpi-palette-color-4: #E4F7DF;

  // Helpdesk hero header background
  --glpi-helpdesk-header: hsl(120deg, 40%, 90%);

  // Hero illustration gradient
  --glpi-illustrations-gradient-1: hsl(120deg, 40%, 92%);
  --glpi-illustrations-gradient-2: hsl(120deg, 40%, 72%);
  --glpi-illustrations-gradient-3: hsl(120deg, 40%, 40%);
}